.navbar-custom {
    background-color: #242582;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, .secondaryColor {
    color: #f64c72;
}

.btn-primary {
  background-color: #99738e !important;
}

.btn-primary:hover {
  color: #f64c72;
}

.btn-primary:active {
  color: #2f2fa2;
}

.btn-primary:visited {
  color: #99738e;
}
