<footer>
  <div class="row m-1">
    <div class="col-md-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-sm btn-primary footer-text"><i class="fa fa-download"></i></button>
        <button type="btn btn-sm btn-primary footer-text" class="btn btn-secondary">Résumé</button>
      </div>
    </div>
    <div class="col-md-4">
      <p class="footer-text">Copyright © 2020 Quick Hire</p>
    </div>
    <div class="col-md-4">
      <a href="#" class="footer-text">Contact Noah</a>
    </div>
  </div>
</footer>
