<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <div class="text-center">
          <img src="../../../assets/images/noah.jpg" class="rounded" alt="Noah Doucette">
        </div>
      </div>
      <div class="col-md-8">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">My name is Noah Doucette. I made this job search application using Angular, Node, Express, and Mongo. If you are interested in hiring me to do software development then feel free to contact me by email or phone.</p>
        <hr class="my-4">
        <p>Phone #: 819-210-5145</p>
        <p>Email: doucettenoah@gmail.com</p>
      </div>
    </div>
  </div>
</div>
