.card {
margin-top: 50px;
margin-bottom: auto;
background-color: #242582;
}

h3, h5, p {
  color: #f64c72;
}

.btn-primary {
  background-color: #99738e !important;
}

.btn-primary:hover {
  color: #f64c72;
}

.btn-primary:active {
  color: #242582;
}

.btn-primary:visited {
  color: #242582;
}
