<div class="container">
  <div class="card mx-auto">
    <img class="card-img-top" src="../../../assets/images/signup.jpg" alt="Card image cap">
    <div class="card-body">
      <div class="row mx-auto"><h3>{{userType}}</h3></div>
      <h5 class="card-title">Sign up for an account</h5>
      <p class="card-text">Signing up for an account will allow you to apply for and save jobs</p>
      <div class="form-group">
        <label><h5 class="card-title">Email</h5></label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Email address goes here"/>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-at"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label ><h5 class="card-title">Password</h5></label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Password goes here"/>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-key"></i></span>
          </div>
        </div>
      </div>
      <a href="#" class="btn btn-primary">Sign me up!</a>
    </div>
  </div>
</div>

